# Hidralisk OS — artefactos generados por el build (no versionar)

# Build de Vib (en el Laboratorio)
vib-amd64
plugins/
Containerfile

# Salida / imágenes
/output/
*.iso
*.iso.sig
*.iso.sha256

# Temporales
/tmp/
/scratch/

# IDE / OS
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
